/* var(--tg-theme-button-color) */

body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: var(--tg-theme-text-color);
    background: var(--tg-theme-bg-color);
}

h1 {
    font-size: 16px;
    text-align: center;
}

ul {
    padding: 0;
}

li {
    text-align: center;
}

a a {
    color: var(--tg-theme-accent-text-color);
}

.container {
    max-width: 390px;
    padding: 0 10px;
}

.questions li {
    list-style-type: none;
    display: block;
}

.answers li {
    padding: 10px;
    cursor: pointer;
    margin-bottom: 10px;
    border: 1px solid var(--tg-theme-button-color);
}

.checked {
    background: var(--tg-theme-secondary-bg-color);
    /*background: var(--tg-theme-bg-color);*/
}

.navigation {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.navigation a {
    color: var(--tg-theme-accent-text-color);
    text-decoration: none;
    padding: 10px;
    background: var(--tg-theme-bg-color);
    width: calc(50% - 30px);
    text-align: center;
    border: 1px solid var(--tg-theme-button-color);
}

.navigation .next {
    margin-left: auto;
}

.result {
    text-align: center;
}

.get-result {
    display: flex;
    flex-direction: column;
}

.get-result a {
    color: var(--tg-theme-accent-text-color);
    width: 100%;
    padding: 10px 0;
    text-align: center;
    border: 1px solid var(--tg-theme-button-color);
}