<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>ТЕСТ НА ОПРЕДЕЛЕНИЕ УРОВНЯ СТРЕССА (по В. Ю. Щербатых)</title>

    <!-- Styles -->
    <link rel="preload" href="app.css" as="style">
    <link rel="stylesheet" href="app.css" data-n-g="">
</head>
<body>
<div id="app" class="container">
    <!--<h1>ТЕСТ НА ОПРЕДЕЛЕНИЕ УРОВНЯ СТРЕССА (по В. Ю. Щербатых)-->
    <!--</h1>-->
    <ul class="questions">
        <template v-for="question in questions" :key="question.text">
            <li class="question" v-if="question.order  === questionNumber">
                <h2>{{ question.text }}</h2>
                <ul class="answers">
                    <li v-for="answer in question.answers" :key="answer.text" v-bind:class="{'checked':answer.checked}"
                        @click="setAnswer(answer)">
                        {{ answer.text }}
                        <!--<label>-->
                        <!--<input type="checkbox" name="checkbox" value="{{ answer.value }}">-->
                        <!--{{ answer.text }}-->
                        <!--</label>-->
                    </li>
                </ul>
            </li>
        </template>
    </ul>
    <!--{{ message }}-->
    <!--questions-->
    <div class="navigation">
        <a href="#" id="prev" @click="goPrev">prev</a>
        <a href="#" id="next" @click="goNext">next</a>
    </div>
    <div class="result" v-if="showResult">
        {{ this.result }}
    </div>
    <div class="get-result">
        <a href="#" @click="getResult">result</a>
    </div>
</div>
<script>
    const questions = [
        {
            "question": "Интеллектуальные признаки стресса",
            "answers": [
                {
                    "text": "Преобладание негативных мыслей",
                    "value": "1.1",
                    "score": 1
                },
                {
                    "text": "Трудность сосредоточения ",
                    "value": "1.2",
                    "score": 1
                }
            ]
        }
    ];
</script>
<!--<script type="module" src="/questions.js"></script>-->
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="https://telegram.org/js/telegram-web-app.js"></script>
<script src="app.js"></script>
</body>
</html>
